{% extends "base_layout.html" %}
{% block content %}
<!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">{{ object.nombre }}</h1>          
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-6 col-sm-6">
            <div class="about-info">
              <h2 class="heading">{{ object.categoria }}</h2>
              <div class="details-list">
                <ul>
                  <li><i class="fa fa-check"></i>Cantidad : {{ object.cantidad }}</li>
                  <li><i class="fa fa-check"></i>Fecha : {{object.fecha_creacion}}</li>                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <img src="img/res01.jpg" alt="Image" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6 text-right btnpad">            
              <div class="contacts-btn-pad">
                <button type='button' onclick="location.href= '{% url 'inventory:update' pk=object.pk %}'"  class="contacts-btn">Editar</button>
              </div>
        </div>
        <div class="col-md-6 btnpad"> 
            <form action="{% url 'inventory:delete' pk=object.pk %}" method="post">
            {% csrf_token %}         
              <div class="contacts-btn-pad">
                <button type='submit'  class="contacts-btn-delete">Eliminar</button>
              </div>
        </div>
      </div>
    </div>
  </section>
  <!--/about-->
{% endblock content %}